.resultCircle {
    border: 4px solid #228b22;
    border-radius: 50%;
    width: 175px;
    height: 175px;
    margin: 5px auto;
  }
    
  body {
    background-color: #ff6ec7;
    border: 2px solid black;
    width: 400px;
    text-align: center;
    margin: 10px auto;
  }
  
  .content{
    text-align: center;
  }
    
  #result {
    text-align: center;
    margin: 35% auto;
    background-color: white;
    /* border: 1px solid black; */
    border-radius: 10px;
    width: 150px;
  }